<%- include("_header") %>

    <div class="container mt-5">

        <div class="card border-0 bg-transparent">

            <div class="text-center">
                <img src="/<%= page.directory %>/<%= page.metadata.image %>" class="img-fluid rounded-circle m-5 mb-0"
                    style="max-width: 20em;">
            </div>

            <div class="card-body">
                <h1 class="card-title text-center text-primary">
                    <%= page.metadata.title %>
                </h1>
                <div class="muted-text text-center">
                    <%= page.metadata.description %>
                </div>
            </div>

        </div>

    </div>

    <div class="container mt-4">
        <%- page.content %>
    </div>

    <div class="container">
        <% 
            const studios = site.__estudios.children
                .filter(s => (s.metadata.team ?? []).indexOf(page.name) >= 0);
        %>

        <% if (studios.length > 0) { %>
            <div class="mt-5 mb-5">
                <h3 class="text-center">Estudios de Videojuegos</h3>
            </div>
        <% } %>

        <% for(const studio of studios) {  %>
            
            <div class="card mb-5 bg-transparent border-0">
                <div class="row g-0">
                  <div class="col-md-2 text-center">
                    <img src="/<%= studio.directory %>/<%= studio.metadata.image %>" 
                        class="img-fluid" alt="<%= studio.metadata.title %>">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h3 class="card-title"><%= studio.metadata.title %></h3>
                      <p class="card-text"><%= studio.metadata.description %></p> 
                      <p>
                        <a class="btn btn-primary" href="/<%= studio.directory %>" role="button">Los quiero conocer &RightArrow;</a>
                      </p>                     
                    </div>
                  </div>
                </div>
              </div>

        <% } %>

    </div>

    <div class="container">
        <% 
            const productos = (page.metadata.products || [])
                .map(productName => site.__productos["__" + productName]);
        %>

        <% if (productos.length > 0) { %>
            <div class="mt-5 mb-5">
                <h3 class="text-center">Productos</h3>
            </div>
        <% } %>

        <div class="list-group">
          <% for(const producto of productos) {  %>
              
            <div class="list-group-item d-flex justify-content-left border-0 bg-transparent">
              <img src="/<%= producto.directory %>/<%= producto.metadata.image %>"
              style="width:8em;height: 8em;">
              <div class="ps-4 pt-3">
                  <h4><%= producto.metadata.title %></h4>
                  <p class="text-muted fs-6"><%= producto.metadata.description %></p>
                  <a class="btn btn-info" href="/<%= producto.directory %>">Muéstrame más &RightArrow;</a>
              </div>
            </div>

          <% } %>
        </div>

    </div>

    <%- include("_footer") %>