<%- include("_header") %>

    <%- include("../_page") %>

        <br>

        <div class="container">

            <div class="card-group">

                <% page.children.forEach(child=> { %>

                    <div class="studio-card card m-2 mb-5 border-0 bg-transparent">
                        <img src="/<%= child.directory %>/<%= child.metadata.image %>" class="img-fluid">
                        <div class="card-body">
                          <h5 class="card-title"><%= child.metadata.title %></h5>
                          <p class="card-text"><%= child.metadata.description %></p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a href="/<%= child.directory %>" class="btn btn-primary">Los quiero conocer &RightArrow;</a>
                        </div>
                      </div>                    
                <% }); %>
            
            </div> <!-- group -->

        </div> <!-- container -->

        <%- include("_footer") %>