<%- include("_header") %>

    <div class="container">

        <h1 class="display-5 fw-bold">
            <%= $page.title %>
        </h1>

        <p class="text-muted">
            <%- include("_date", {date: $page.date})%>
        </p>

        <% if ($page.image) { %>
            <img class="img-fluid w-100" src="<%= $page.image %>">
        <% } %>
    </div>

    <div class="container mt-3 page-content">

        <%- $page.$content %>
    </div>

    <%- include("_footer") %>