<%- include("_header") %>

    <%- include("_page") %>

        <br>

        <div class="container">

            <div class="card-group">

                <% $page.$pages.forEach(child=> { %>

                    <div class="studio-card card m-2 mb-5 border-0 bg-transparent">
                        <img src="/<%= child.$path %>/<%= child.image %>" class="img-fluid">
                        <div class="card-body">
                          <h5 class="card-title"><%= child.title %></h5>
                          <p class="card-text"><%= child.description %></p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a href="/<%= child.$path %>" class="btn btn-primary">Los quiero conocer &RightArrow;</a>
                        </div>
                      </div>                    
                <% }); %>
            
            </div> <!-- group -->

        </div> <!-- container -->

        <%- include("_footer") %>