<%- include("_header") %>

    <div class="main-header-img p-5 mb-4" style="background-image: url(/<%= site.banner_image %>);">
        <div class="container py-5">
            <h1 class="display-5 fw-bold text-light">
                <%= $page.title %>
            </h1>
            <p class="col-md-8 fs-4 text-white">
                <%= $page.description %>
            </p>
            <a href="<%= site.call_to_action.url %>" class="btn btn-primary btn-lg" role="button">
                <%= site.call_to_action.label %> &RightArrow;
            </a>
        </div>
    </div>


    <div class="container">

        <% 
            for(const msg of $page.featured_messages) { %>

                <div class="m-4 p-4"></div>
                <div class="row">
                
                    <div class="col-md-6 text-primary mb-4">
                        <h3 class="fs-1"><%- msg.title %></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="fs-4 border-primary border-0 border-start ps-4" style="border-left-width: 10px !important;">
                            <%- msg.body %>
                        </div>
                    </div>
                </div>
            <% } %>

        <div class="m-4 p-4"></div>

        <div class="w-100 d-flex justify-content-center">
            <a href="<%= site.repository %>" class="btn btn-lg btn-primary" target="_blank">
                <%= site.contribute_message %>
            </a>
        </div>

        <div class="alert m-5">
            <h2 class="text-center">Últimas Noticias</h2>
        </div>

        <% const posts = site.__blog.$pages.slice(0, 3); %>

            <div class="card-group home-noticias-group">

                <% for(const post of posts) { %>

                    <div class="card border-0 bg-transparent m-3">
                        <img src="/<%= post.$path %>/<%= post.image %>" class="card-img-top" alt="<%= post.title %>">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= post.title %>
                            </h4>
                            <p class="text-muted">
                                <%- include("_date", {date: post.date})%>
                            </p>
                            <p class="card-text">
                                <%= post.description %>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="card-link" href="/<%= post.$path %>" role="button">Leer el artículo completo
                                &RightArrow;</a>
                        </div>
                    </div>
                <% } %>

            </div> <!-- row -->

            <p class="text-end w-100 mt-5">
                <a class="link-primary" href="/blog">Ver todas las noticias &RightArrow;</a>
            </p>

            <br>

            <div class="m-5">
                <h2 class="text-center">Nuestros Estudios</h2>
            </div>

            <br>

                <% for (const child of site.homepage_estudios) { %>

                    <div class="card mb-5 bg-transparent border-0">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="/<%= child.$path %>/<%= child.image %>" class="img-fluid"
                                    alt="<%= child.title %>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <%= child.title %>
                                    </h3>
                                    <p class="card-text">
                                        <%= child.description %>
                                    </p>
                                    <a class="btn btn-primary" href="/<%= child.$path %>" role="button">Los quiero
                                        conocer
                                        &RightArrow;</a>
                                </div>
                            </div>
                        </div>
                    </div>

                <% } %>

                <p class="text-end w-100 mt-5">
                    <a class="link-primary" href="/estudios">Ver todos los estudios &RightArrow;</a>
                </p>

                <div class="m-5">
                    <h2 class="text-center">Nuestros Productos</h2>
                </div>

                <div class="card-group home-productos-group">

                    <% for(const producto of site.homepage_productos) { %>

                        <div class="card border-0 bg-transparent mb-4">
                            <img src="/<%= producto.$path %>/<%= producto.image %>" class="card-img-top" alt="<%= producto.title %>">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= producto.title %>
                                </h4>
                                <p class="card-text">
                                    <%= producto.description %>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <a class="btn btn-info" href="/<%= producto.$path %>" role="button">Muéstrame más &RightArrow;</a>
                            </div>
                        </div>

                    <% } %>
                </div>

                <p class="text-end w-100 mt-5">
                    <a class="link-primary" href="/productos">Ver todos los productos &RightArrow;</a>
                </p>

                <div class="m-5">
                    <h2 class="text-center">Nuestros Creadores de Videojuegos</h2>
                </div>

                <div class="card-group">

                <% for (const creador of site.homepage_creadores) { %>

                    <div class="card border-0 bg-transparent d-flex text-center" style="min-width:12rem;">

                        <div class="card-body">
                    
                            <img src="/<%= creador.$path %>/<%= creador.image %>" class="profile-img">
                        </div>
                        <div class="card-body p-0">
                            <h3>
                                <a href="/<%= creador.$path %>">
                                    <%= creador.title %>
                                </a>
                            </h3>
                        </div>
                    
                        <div class="card-body p-0">
                            <div class="text-muted fs-6">
                                <%= creador.description %>
                            </div>
                        </div>
                    </div>

                <% } %>
            </div>

            <p class="text-end w-100 mt-5">
                <a class="link-primary" href="/creadores">Ver todos los creadores &RightArrow;</a>
            </p>

    </div> <!-- containter -->

    <div class="container"> <!-- newsletter -->


        <div class="card">

            <div class="card-body">
                <h5 class="card-title">¡Regístrate a nuestro boletín digital!</h5>
                <p class="card-text">
                    Esta es la forma más efectiva para estar al tanto de lo que acontece en nuestra comunidad.
                    Nuestros eventos, nuestras publicaciones, todas las noticias alrededor de nuestra comunidad.
                </p>
            </div>

            <div class="card-body">

                <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	mc_embed_signup{
        width: 100%;
    }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://videojuegoscuba.us21.list-manage.com/subscribe/post?u=45d14e84e2c68c26bac0eb5f4&amp;id=3890453e77&amp;f_id=00dee0e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2>Subscribe</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45d14e84e2c68c26bac0eb5f4_3890453e77" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/iimu21" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    
            </div>
        </div>

    

    </div>

    <%- include("_footer") %>