<%- include("_header") %>

    <div class="main-header-img p-5 mb-4" style="background-image: url(/<%= site.banner_image %>);">
        <div class="container py-5">
            <h1 class="display-5 fw-bold text-light">
                <%= $page.title %>
            </h1>
            <p class="col-md-8 fs-4 text-white">
                <%= $page.description %>
            </p>
            <a href="<%= site.call_to_action.url %>" class="btn btn-primary btn-lg" role="button">
                <%= site.call_to_action.label %> &RightArrow;
            </a>
        </div>
    </div>


    <div class="container">

        <% 
            for(const msg of $page.featured_messages) { %>

                <div class="m-4 p-4"></div>
                <div class="row">
                
                    <div class="col-md-6 text-primary mb-4">
                        <h3 class="fs-1"><%- msg.title %></h3>
                    </div>
                    <div class="col-md-6">
                        <div class="fs-4 border-primary border-0 border-start ps-4" style="border-left-width: 10px !important;">
                            <%- msg.body %>
                        </div>
                    </div>
                </div>
            <% } %>

        <div class="m-4 p-4"></div>

        <div class="w-100 d-flex justify-content-center">
            <a href="<%= site.repository %>" class="btn btn-lg btn-primary" target="_blank">
                <%= site.contribute_message %>
            </a>
        </div>

        <div class="alert m-5">
            <h2 class="text-center">Últimas Noticias</h2>
        </div>

        <% const posts = site.__blog.$pages.slice(0, 3); %>

            <div class="card-group home-noticias-group">

                <% for(const post of posts) { %>

                    <div class="card border-0 bg-transparent m-3">
                        <img src="/<%= post.$path %>/<%= post.image %>" class="card-img-top" alt="<%= post.title %>">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= post.title %>
                            </h4>
                            <p class="text-muted">
                                <%= post.date %>
                            </p>
                            <p class="card-text">
                                <%= post.description %>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="card-link" href="/<%= post.$path %>" role="button">Leer el artículo completo
                                &RightArrow;</a>
                        </div>
                    </div>
                <% } %>

            </div> <!-- row -->

            <p class="text-end w-100 mt-5">
                <a class="link-primary" href="/blog">Ver todas las noticias &RightArrow;</a>
            </p>

            <br>

            <div class="m-5">
                <h2 class="text-center">Nuestros Estudios</h2>
            </div>

            <br>

            <% const estudios = site.__estudios.$pages.slice(0, 3); %>

                <% for (const child of estudios) { %>

                    <div class="card mb-5 bg-transparent border-0">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                <img src="/<%= child.$path %>/<%= child.image %>" class="img-fluid"
                                    alt="<%= child.title %>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <%= child.title %>
                                    </h3>
                                    <p class="card-text">
                                        <%= child.description %>
                                    </p>
                                    <a class="btn btn-primary" href="/<%= child.$path %>" role="button">Los quiero
                                        conocer
                                        &RightArrow;</a>
                                </div>
                            </div>
                        </div>
                    </div>

                <% } %>

                <p class="text-end w-100 mt-5">
                    <a class="link-primary" href="/estudios">Ver todos los estudios &RightArrow;</a>
                </p>

                <div class="m-5">
                    <h2 class="text-center">Nuestros Productos</h2>
                </div>

                <% 
                const productos = site.__productos.$pages.slice(0, 6); 
                %>

                <div class="card-group home-productos-group">

                    <% for(const producto of productos) { %>

                        <div class="card border-0 bg-transparent mb-4">
                            <img src="/<%= producto.$path %>/<%= producto.image %>" class="card-img-top" alt="<%= producto.title %>">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= producto.title %>
                                </h4>
                                <p class="card-text">
                                    <%= producto.description %>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <a class="btn btn-info" href="/<%= producto.$path %>" role="button">Muéstrame más &RightArrow;</a>
                            </div>
                        </div>

                    <% } %>
                </div>

                <p class="text-end w-100 mt-5">
                    <a class="link-primary" href="/productos">Ver todos los productos &RightArrow;</a>
                </p>

                <div class="m-5">
                    <h2 class="text-center">Nuestros Creadores de Videojuegos</h2>
                </div>


                <% 
                const creadores = site.__creadores.$pages.slice(0, 12); 
                %>

                <div class="card-group">

                <% for (const creador of creadores) { %>

                    <div class="card border-0 bg-transparent d-flex text-center" style="width:20em;">

                        <div class="card-body">
                    
                            <img src="/<%= creador.$path %>/<%= creador.image %>" class="profile-img">
                        </div>
                        <div class="card-body p-0">
                            <h3>
                                <a href="/<%= creador.$path %>">
                                    <%= creador.title %>
                                </a>
                            </h3>
                        </div>
                    
                        <div class="card-body p-0">
                            <div class="text-muted fs-6">
                                <%= creador.description %>
                            </div>
                        </div>
                    </div>

                <% } %>
            </div>

            <p class="text-end w-100 mt-5">
                <a class="link-primary" href="/creadores">Ver todos los creadores &RightArrow;</a>
            </p>

    </div> <!-- containter -->

    <%- include("_footer") %>