<%- include("_header") %>

    <div class="container mt-5 text-center">

        <h1 class="card-title text-primary">
            <%= $page.title %>
        </h1>

        <p class="text-muted fs-4">
            <%= $page.description %>
        </p>

        <img src="/<%= $page.$path %>/<%= $page.image %>" class="img-fluid mt-5 mb-0">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 page-content mt-4">
                <%- $page.$content %>
            </div>
            <div class="col-md-4">
                <% const studios=site.__estudios.$pages .filter(s=> (s.products ?? []).indexOf($page.$name) >=
                    0);

                    const creadores = site.__creadores.$pages
                    .filter(creador => (creador.products || []).indexOf($page.$name) >= 0);
                    %>

                    <% if (studios.length + creadores.length> 0) { %>
                        <div class="mt-5 mb-5">
                            <h3>Desarrolladores</h3>
                        </div>
                        <% } %>

                            <% for(const studio of studios) { %>

                                <div class="card mb-5 bg-transparent border-0">
                                    <img src="/<%= studio.$path %>/<%= studio.image %>"
                                            class="img-fluid card-img-top" alt="<%= studio.title %>">
                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <%= studio.title %>
                                        </h3>
                                        <p class="card-text">
                                            <%= studio.description %>
                                        </p>
                                        <p>
                                            <a class="btn btn-primary" href="/<%= studio.$path %>"
                                                role="button">Los quiero conocer &RightArrow;</a>
                                        </p>
                                    </div>
                                </div>

                                <% } %>

                                    <div class="list-group">

                                        <% for (const creador of creadores) { %>
                                            <div
                                                class="list-group-item d-flex justify-content-left border-0 bg-transparent">
                                                <img src="/<%= creador.$path %>/<%= creador.image %>"
                                                    class="rounded-circle" style="width:5em;height: 5em;">
                                                <div class="ps-4 pt-3">
                                                    <a href="/<%= creador.$path %>">
                                                        <%= creador.title %>
                                                    </a>
                                                    <p class="text-muted fs-6">
                                                        <%= creador.description %>
                                                    </p>
                                                </div>
                                            </div>

                                            <% } %>

                                    </div>
            </div>
        </div>
    </div>

    <%- include("_footer") %>