<%- include("_header") %>

    <%- include("_page") %>

        <div class="container">

            <p>
                <a href="/creadores">&leftarrow; Regresar</a>
            </p>

            <div class="row">

                <% for(const creadoreName of $page.creadores_names) { 
                    
                    const child = site.__creadores["__" + creadoreName];
                    %>

                    <div class="card border-0 bg-transparent d-flex text-center" style="width:20em;">

                        <div class="card-body">

                            <img src="/<%= child.$path %>/<%= child.image %>" class="profile-img">
                        </div>
                        <div class="card-body p-0">
                            <h3>
                                <a href="/<%= child.$path %>">
                                    <%= child.title %>
                                </a>
                            </h3>
                        </div>

                        <div class="card-body p-0">
                            <div class="text-muted fs-6">
                                <%= child.description %>
                            </div>
                        </div>
                    </div>

            <% } %>
            </div> <!-- row -->
        </div>

        </div> <!-- container -->

        <%- include("_footer") %>