<%- include("_header") %>

    <%- include("_page") %>

        <div class="container">

            <p>
                <a href="/productos">&leftarrow; Regresar</a>
            </p>
            
            <div class="card-group">

                <% for(const producto of $page.productos) { %>

                    <div class="studio-card card m-2 mb-5 border-0 bg-transparent">
                        <img src="/<%= producto.$path %>/<%= producto.image %>" class="img-fluid">
                        <div class="card-body">
                          <h5 class="card-title"><%= producto.title %></h5>
                          <p class="card-text"><%= producto.description %></p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a href="/<%= producto.$path %>" class="btn btn-info">Muéstrame más &RightArrow;</a>
                        </div>
                      </div>  

                <% } %>
            
            </div> <!-- group -->

        </div> <!-- container -->

        <%- include("_footer") %>